<nav class='navbar navbar-default'>
  <div class='container'>
    <div class='row'>
      <div class="col-xs-12" style="text-align: center;">
        <h1>年齢判定<span style="font-size: large;">&nbsp;&radic;</span></h1>
      </div>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <div style="font-size: large;">自分の写真で試してみる</div>
      <button class="btn btn-xl btn-default upload-btn" type="button"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;写真を選択<br><span style="font-size: x-small;">スマホまたはパソコンから</span></button>
      <input type="file" accept="image/*;capture=camera" style="display: none;">
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px;">
  <div class="analyzer">
    <div class="row">
      <div class="col-xs-12" style="text-align: center;">
        <div style="font-size: large;">年齢判定結果</div>
        <div class="preview">
          <div class="canvas-outer">
            <%= image_tag '/ajax-loader.gif', style: 'display: none; position: absolute;' %>
            <canvas></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <div style="font-size: large;">他の写真で試してみる</div>
      <div class="images-outer">
        <div class="images"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    fitCanvasSize();
    loading.hide();
    var swimmingUrl = 'https://portalstoragewuprod2.azureedge.net/vision/Analysis/1-1.jpg';
    var appleUrl = 'https://cdn-ak.f.st-hatena.com/images/fotolife/f/furafura-nau/20160304/20160304171855.jpg';
    // loadImage(url, function () { analyze(url) });
    addFileInputHandler();
//    addSearchFileButtonClickHandler();
    addUploadFileButtonClickHandler();

    var images = [{
      url: appleUrl,
      features: ''
    }];

    wall = new Freewall(".images");
    wall.reset({
      selector: '.cell',
      animate: true,
      cellW: cellWidth,
      cellH: cellHeight,
      gutterY: 6,
      gutterX: 6,
      onResize: function() {
        wall.fitWidth();
        resetOpacity();
      }
    });
    wall.fitWidth();

    for(var i = 0; i < 10; i++) {
      appendImage(wall, images[0].url);
    }
    appendImage(wall, swimmingUrl);

    clickFirstCell();
  });
</script>
